<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show one user</title>
</head>
<body>
All information about the user:
<br/>
<hr/>

<p th:text="'User Id: ' + ${user.getId()}">VALUE</p>
<p th:text="'Name: ' + ${user.getName()}">VALUE</p>
<p th:text="'Age: ' + ${user.getAge()}">VALUE</p>
<p th:text="'Profession: ' + ${user.getProfession()}">VALUE</p>

<br/>
<hr/>

<p th:text="'Edit the user:'"></p>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<br/>
<hr/>

<p th:text="'Delete the user:'"></p>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>