<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListOfUsers</title>
</head>
<body>
Take a look at the list of users:
<p></p>

<div th:each="user : ${users}">

<!--    <p th:text="'User Id: ' + ${user.id} + ', Name: ' + ${user.name} +-->
<!--    ', Age: ' + ${user.age} + ', Profession: ' + ${user.profession}"></p>-->

    <a th:href="@{/users/{id}(id=${user.getId()})}"
       th:text="${user.getName()}">user</a>

</div>
</body>
</html>